body {
	background: #0e0f11;
	background: -webkit-linear-gradient(110deg, #000000, #1E2124);
	background: linear-gradient(110deg, #000000, #1E2124);
	min-width: 960px;
}
a {
	text-decoration: none;
	color: #bdbdbd;
	position: relative;
}
a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	height: 1px;
	background-color: #fff;
	content: "";
	transition: width 0.2s;
}
a:hover {
	color: #fff;
}
a:hover:after {
	width: 100%;
}
#pbc {
	width: 95%;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	background: #222629;
	border-radius: 25px;
}
#pbc > #pb {
	position: relative;
	top: 0px;
	background: #06C;
	border-radius: 25px;
	width: 0%;
	height: 20px;
	text-align: center;
}
#showp {
	text-align: center;
	top: -60px;
	font-family: Arial,Helvetica,monospace,sans-serif;
	font-weight: 400;
	color: white;
	font-size:80px;
}
.block1 {
	position: relative;
	border: solid;
	border-width: 2px;
	border-color: #06C;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	top: 100px;
	margin-top: 60px;
	border-radius: 12px;
	background: transparent;
	padding: 20px;
}
.title {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	padding-top: 20px;
	padding-bottom: 0px;
	margin: 0px;
	text-align: center;
	color: white;
	font-weight: 300;
	font-size: 2.6em;
}
.info {
	font-weight: 300;
	padding-top: 5px;
	padding-bottom: 20px;
	margin: 0px;
	color: #bdbdbd;
	font-size: 1.3em;
	font-family: 'Open Sans', monospace;
	text-align: center;
}
